Соединяемся с базой, если указать имя файла как `:memory:`, база будет создана в оперативной памяти.

    You can also supply the special name :memory: to create a database in RAM.

# Новый раздел

In [ ]:
import sqlite3
conn = sqlite3.connect('netflix.sqlite')

<a href="https://docs.python.org/3/library/sqlite3.html">Документация</a>

In [ ]:
c = conn.cursor() # Стандартный курсор = итератор по результатам запросов.

In [ ]:
for row in c.execute("SELECT * FROM netflix_titles limit 3"):
    print(row)

(81145628, 'Movie', 'Norm of the North: King Sized Adventure', 'Richard Finn, Tim Maltby', 'Alan Marriott, Andrew Toth, Brian Dobson, Cole Howard, Jennifer Cameron, Jonathan Holmes, Lee Tockar, Lisa Durupt, Maya Kay, Michael Dobson', 'United States, India, South Korea, China', 'September 9, 2019', 2019, 'TV-PG', '90 min', 'Children & Family Movies, Comedies', 'Before planning an awesome wedding for his grandfather, a polar bear king must take back a stolen artifact from an evil archaeologist first.')
(80117401, 'Movie', 'Jandino: Whatever it Takes', '', 'Jandino Asporaat', 'United Kingdom', 'September 9, 2016', 2016, 'TV-MA', '94 min', 'Stand-Up Comedy', 'Jandino Asporaat riffs on the challenges of raising kids and serenades the audience with a rousing rendition of "Sex on Fire" in his comedy show.')
(70234439, 'TV Show', 'Transformers Prime', '', 'Peter Cullen, Sumalee Montano, Frank Welker, Jeffrey Combs, Kevin Michael Richardson, Tania Gunadi, Josh Keaton, Steve Blum, Andy Pessoa, Ernie Hudson, Daran Norris, Will Friedle', 'United States', 'September 8, 2018', 2013, 'TV-Y7-FV', '1 Season', "Kids' TV", 'With the help of three human allies, the Autobots once again protect Earth from the onslaught of the Decepticons and their leader, Megatron.')

Можно еще получать по одному:

In [ ]:
c.execute("SELECT * FROM netflix_titles limit 3")

In [ ]:
c.fetchone()

(81145628,
 'Movie',
 'Norm of the North: King Sized Adventure',
 'Richard Finn, Tim Maltby',
 'Alan Marriott, Andrew Toth, Brian Dobson, Cole Howard, Jennifer Cameron, Jonathan Holmes, Lee Tockar, Lisa Durupt, Maya Kay, Michael Dobson',
 'United States, India, South Korea, China',
 'September 9, 2019',
 2019,
 'TV-PG',
 '90 min',
 'Children & Family Movies, Comedies',
 'Before planning an awesome wedding for his grandfather, a polar bear king must take back a stolen artifact from an evil archaeologist first.')

In [ ]:
c.fetchone()

(80117401,
 'Movie',
 'Jandino: Whatever it Takes',
 '',
 'Jandino Asporaat',
 'United Kingdom',
 'September 9, 2016',
 2016,
 'TV-MA',
 '94 min',
 'Stand-Up Comedy',
 'Jandino Asporaat riffs on the challenges of raising kids and serenades the audience with a rousing rendition of "Sex on Fire" in his comedy show.')

In [ ]:
c.fetchone()

(70234439,
 'TV Show',
 'Transformers Prime',
 '',
 'Peter Cullen, Sumalee Montano, Frank Welker, Jeffrey Combs, Kevin Michael Richardson, Tania Gunadi, Josh Keaton, Steve Blum, Andy Pessoa, Ernie Hudson, Daran Norris, Will Friedle',
 'United States',
 'September 8, 2018',
 2013,
 'TV-Y7-FV',
 '1 Season',
 "Kids' TV",
 'With the help of three human allies, the Autobots once again protect Earth from the onslaught of the Decepticons and their leader, Megatron.')

In [ ]:
c.fetchone() # Все, курсор закончился.

In [ ]:
c.execute("SELECT * FROM netflix_titles limit 3")
c.fetchall() # Как видим, у нас не итератор, а полноценный список.

[(81145628,
  'Movie',
  'Norm of the North: King Sized Adventure',
  'Richard Finn, Tim Maltby',
  'Alan Marriott, Andrew Toth, Brian Dobson, Cole Howard, Jennifer Cameron, Jonathan Holmes, Lee Tockar, Lisa Durupt, Maya Kay, Michael Dobson',
  'United States, India, South Korea, China',
  'September 9, 2019',
  2019,
  'TV-PG',
  '90 min',
  'Children & Family Movies, Comedies',
  'Before planning an awesome wedding for his grandfather, a polar bear king must take back a stolen artifact from an evil archaeologist first.'),
 (80117401,
  'Movie',
  'Jandino: Whatever it Takes',
  '',
  'Jandino Asporaat',
  'United Kingdom',
  'September 9, 2016',
  2016,
  'TV-MA',
  '94 min',
  'Stand-Up Comedy',
  'Jandino Asporaat riffs on the challenges of raising kids and serenades the audience with a rousing rendition of "Sex on Fire" in his comedy show.'),
 (70234439,
  'TV Show',
  'Transformers Prime',
  '',
  'Peter Cullen, Sumalee Montano, Frank Welker, Jeffrey Combs, Kevin Michael Richardson, Tania Gunadi, Josh Keaton, Steve Blum, Andy Pessoa, Ernie Hudson, Daran Norris, Will Friedle',
  'United States',
  'September 8, 2018',
  2013,
  'TV-Y7-FV',
  '1 Season',
  "Kids' TV",
  'With the help of three human allies, the Autobots once again protect Earth from the onslaught of the Decepticons and their leader, Megatron.')]

Как видим, не очень удобно, что возвращаются кортежи. Удобней было бы, чтобы словари.

In [ ]:
c.description # вот тут есть описания полей.

(('show_id', None, None, None, None, None, None),
 ('type', None, None, None, None, None, None),
 ('title', None, None, None, None, None, None),
 ('director', None, None, None, None, None, None),
 ('cast', None, None, None, None, None, None),
 ('country', None, None, None, None, None, None),
 ('date_added', None, None, None, None, None, None),
 ('release_year', None, None, None, None, None, None),
 ('rating', None, None, None, None, None, None),
 ('duration', None, None, None, None, None, None),
 ('listed_in', None, None, None, None, None, None),
 ('description', None, None, None, None, None, None))

In [ ]:
def dict_factory(cursor, row):
    # обертка для преобразования
    # полученной строки. (взята из документации)
    d = {}
    for idx, col in enumerate(cursor.description):
        d[col[0]] = row[idx]
    return d

In [ ]:
conn.row_factory = dict_factory

In [ ]:
с = conn.cursor()
c.execute("SELECT * FROM netflix_titles limit 3")
c.fetchall() # Теперь буду словари

[(81145628,
  'Movie',
  'Norm of the North: King Sized Adventure',
  'Richard Finn, Tim Maltby',
  'Alan Marriott, Andrew Toth, Brian Dobson, Cole Howard, Jennifer Cameron, Jonathan Holmes, Lee Tockar, Lisa Durupt, Maya Kay, Michael Dobson',
  'United States, India, South Korea, China',
  'September 9, 2019',
  2019,
  'TV-PG',
  '90 min',
  'Children & Family Movies, Comedies',
  'Before planning an awesome wedding for his grandfather, a polar bear king must take back a stolen artifact from an evil archaeologist first.'),
 (80117401,
  'Movie',
  'Jandino: Whatever it Takes',
  '',
  'Jandino Asporaat',
  'United Kingdom',
  'September 9, 2016',
  2016,
  'TV-MA',
  '94 min',
  'Stand-Up Comedy',
  'Jandino Asporaat riffs on the challenges of raising kids and serenades the audience with a rousing rendition of "Sex on Fire" in his comedy show.'),
 (70234439,
  'TV Show',
  'Transformers Prime',
  '',
  'Peter Cullen, Sumalee Montano, Frank Welker, Jeffrey Combs, Kevin Michael Richardson, Tania Gunadi, Josh Keaton, Steve Blum, Andy Pessoa, Ernie Hudson, Daran Norris, Will Friedle',
  'United States',
  'September 8, 2018',
  2013,
  'TV-Y7-FV',
  '1 Season',
  "Kids' TV",
  'With the help of three human allies, the Autobots once again protect Earth from the onslaught of the Decepticons and their leader, Megatron.')]

In [ ]:
c.execute("SELECT count(*) as cnt FROM netflix_titles where listed_in='Stand-Up Comedy'")
c.fetchall() # Сколько вообще стендап комедий

[(273,)]

In [ ]:
c.execute("SELECT rating, count(*) as cnt FROM netflix_titles group by rating")
c.fetchall() # Группируем по рейтингу
# Важно тут сказать, что SQL -- замена pandas полноценная,
# и всю обработку данных можно делать прямо внутри него

[('', 10),
 ('G', 37),
 ('NC-17', 2),
 ('NR', 218),
 ('PG', 184),
 ('PG-13', 286),
 ('R', 508),
 ('TV-14', 1698),
 ('TV-G', 149),
 ('TV-MA', 2027),
 ('TV-PG', 701),
 ('TV-Y', 143),
 ('TV-Y7', 169),
 ('TV-Y7-FV', 95),
 ('UR', 7)]

# Задания

1. Нормализовать базу данных относительно актеров. Выделить таблицу с актерами, а также таблицу многие-ко-многим `актер-фильм`

 **Создаем таблицу Актеров**

In [ ]:
with conn:
    c.execute("""
        CREATE TABLE Actors (
        actor_id INTEGER PRIMARY KEY,
        actor_name TEXT NOT NULL
        );
    """)

[]

**Заполняем таблицу Актеров**

In [ ]:
c.execute("SELECT \"cast\" FROM netflix_titles")
cast = c.fetchall()
people = set()
for e in cast:
    if len(e[0]) == 0:
        continue

    for i in e[0].split(', '):
        people.add(i)

peoples = list(people)
for i in range(len(peoples)):
    name = peoples[i]
    peoples[i] = (i, name)

with conn:
    c.executemany("INSERT INTO Actors VALUES(?, ?)", peoples)

**Создаем таблицу Фильмов**

In [ ]:
with conn:
    c.execute("""
        CREATE TABLE Films (
        film_id INTEGER PRIMARY KEY,
        film_name TEXT NOT NULL
        );
    """)

**Заполняем таблицу Фильмов**

In [ ]:
c.execute("SELECT \"title\" FROM netflix_titles")
cast = c.fetchall()
film = set()
for e in cast:
    if len(e[0]) == 0:
        continue

    for i in e[0].split(', '):
        film.add(i)

films = list(film)
for i in range(len(films)):
    films[i] = (i, films[i])


with conn:
    c.executemany("INSERT INTO Films VALUES(?, ?)", films)

**Создаем таблицу Актер-Фильм**

In [ ]:
with conn:
    c.execute("""
        CREATE TABLE Actor_Films200(
            actor_id INTEGER,
            actor_name TEXT,
            film_names TEXT,
            film_ids TEXT
        );
    """)

In [ ]:
import sqlite3

conn = sqlite3.connect('netflix.sqlite')
c = conn.cursor()  # Стандартный курсор = итератор по результатам запросов.

c.execute("SELECT title, \"cast\"  FROM netflix_titles")
film_actors = c.fetchall()
actors = set()
for e in film_actors:
    if len(e[1]) == 0:
        continue
    for i in e[1].split(', '):
        actors.add((i, e[0]))

films = list(actors)
information = []
counter = 0
for i in range(len(films)):
    try:
      c.execute("SELECT film_id FROM Films WHERE film_name = ?", (films[i][1],))
      infor = c.fetchone()
      id_film = infor[0]
      info = (films[i][0], films[i][1], id_film)
      information.append(info)
    except:
        continue

final_information = []
temp = set()
for i in range(len(information)):

    current_actor = information[i][0]
    film_list = [information[i][1]]
    film_id_list = [information[i][2]]
    if not (current_actor in temp):
        for j in range(i + 1, len(information)):
            if information[j][0] == current_actor:
                film_list.append(information[j][1])
                film_id_list.append(information[j][2])

        text_film = ''
        for g in film_list:
            text_film += str(g) + ', '

        text_film = text_film[:-2]
        text_id = ''
        for p in film_id_list:
            text_id += str(p) + ', '

        text_id = text_id[:-2]
        c.execute("SELECT actor_id FROM Actors WHERE 	actor_name = ?", (current_actor,))
        infor = c.fetchone()
        final_information.append((infor[0], current_actor, text_film, text_id))
        temp.add(current_actor)
    else:
        continue


with conn:
    c.executemany("INSERT INTO Actor_Films VALUES(?, ?, ?, ?)", final_information)

2. Исходя из этой таблицы, средствами SQL, вычислить наболее часто работающую друг с другом пару актеров.

In [ ]:
import sqlite3

conn = sqlite3.connect('netflix.sqlite')
c = conn.cursor()
c.execute("SELECT actor_id, film_ids FROM Actor_Films")
info = c.fetchall()
max_num = 0
max_films = 0
len_id = len(info)
name = ""
name2 = ""
for i in range(len_id - 1):
    actor_1 = info[i][0]
    films_1 = info[i][1].split(', ')
    if len(films_1) > max_num:
        for j in range(i + 1, len_id):
            actor_2 = info[j][0]
            films_2 = info[j][1].split(', ')
            if len(films_2) > max_num:
                if len(films_2) + len(films_1) - len(set(films_2 + films_1)) > max_num:
                    max_num = len(films_2) + len(films_1) - len(set(films_2 + films_1))
                    c.execute(f"SELECT * FROM Actor_Films WHERE actor_id = {actor_1}")
                    name = c.fetchone()
                    c.execute(f"SELECT * FROM Actor_Films WHERE actor_id = {actor_2}")
                    name2 = c.fetchone()
                if len(films_1) > max_films:
                    max_films = len(films_1)


print(name[1])
print(name2[1])

John Paul Tremblay
Robb Wells